body{
    main{
        section.banner-contacto {
            height: 100vh;
            background:url(../assets/Banner\ contacto.jpg) center/cover;
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: center;
            text-align: center;
            color: $color-blanco;

            div{
                h2{
                    font-size: 3rem;
                    font-weight: bold;
                    color: $color-amarillo;
                    margin-bottom: 1rem;
                }
                p{
                    font-size: 1rem;
                    font-weight: bold;
                }

                a.btn-primary{
                    margin-top: 20px;
                    text-decoration: none;
                    font-weight: bold;
                }

            }
        }

        section.redes-section{
            padding: 5rem 2rem;
            text-align: center;

            div.redes-grid{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                gap: 2rem;
                justify-items: center;

                div.redes-items{
                    a.redes-card{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        text-decoration: none;
                        color: $color-blanco;
                        font-weight: 600;
                        border-radius: 50px;
                        padding: 10px 20px;
                        box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
                        transition: all 0.3s ease;
                        background-color: $color-gris;

                        &:hover{
                            border-color: $color-amarillo;
                            transform: scale(1.03);
                        }

                        img.redes-icon{
                            width: 40px;
                            height: 40px;
                        }

                    }
                        
                }   
    
            }
        }
     
        section.form-section{
            h2{
                margin-bottom: 3rem;
                font-weight: bolder;
                display: inline-block;      
                border-bottom: 5px solid $color-amarillo;
                padding-bottom: 0.4rem;  
            }
            padding: 5rem 2rem;
            background-color: $color-blanco;
            text-align: center;

            form.consulta-form{
                max-width: 600px;
                margin: 2rem auto;
                display: grid;
                gap: 1rem;

                input,select{
                    background-color: white;
                    padding: 0.8rem;
                    border: 1px solid $color-gris;
                    border-radius: 5px;
                }

                

                input[type="submit"] {
                    background-color: $color-negro;
                    font-size: large;
                    font-weight: bold;
                    color: $color-blanco;
                    box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
                    border: none;
                    transition: all 0.3s ease;

                    &:hover{
                        background-color: $color-amarillo;
                    }

                }

                label{
                    font-weight: bold;

                }
            }
        }
     
        section.ubicacion-section{
            padding: 5rem 2rem;
            background-color: white;
            text-align: center;

            h2{
                margin-bottom: 3rem;
                font-weight: bolder;
                display: inline-block;      
                border-bottom: 5px solid $color-amarillo;
                padding-bottom: 0.4rem;  
            }
            div.ubicacion-grid{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
                max-width: 1200px;
                margin: 0 auto;
                align-items: start;
                
                div.ubicacion-item{
                    text-align: left;

                    h3{
                        font-size: x-large;
                        font-weight: 900;
                        margin-bottom: 1rem;
                    }

                    p{
                        font-size: medium;
                        font-weight: 500;
                        margin-bottom: 1.5rem;
                    }
                    
                    div.horarios{
                        h4 {
                        font-weight: bold;
                        margin-bottom: 1rem;
                        color: $color-amarillo;
                        }

                        table {
                            
                            width: fit-content;
                            max-width: 100%;
                            border-collapse: collapse;

                            td {
                                padding: 0.6rem 1rem;
                                border-bottom: 1px solid #ddd;
                                font-size: 0.95rem;
                            }

                            td:first-child {
                                font-weight: 600;
                                color: $color-negro;
                            }

                            tr:last-child td {
                                border-bottom: none;
                            }
                        }                       
                    }
                    
                    div.mapa{
                        iframe {
                            width: 100%;
                            height: 350px;
                            border: 0;
                            border-radius: 8px;
                        }                       
                    }   
                }

            }


            //ADAPTACION MOVIL Y TABLET
            @media (max-width: 992px) {
                padding: 3rem 1rem;

                h2 {
                    margin-bottom: 2rem;
                    font-size: 1.8rem;
                }

                div.ubicacion-grid {
                    grid-template-columns: 1fr;   
                    gap: 2rem;
                    text-align: center;
                

                    div.ubicacion-item {
                    text-align: center;

                        h3 {
                            font-size: 1.4rem;
                            margin-bottom: 0.8rem;
                        }

                        p {
                            font-size: 1rem;
                            margin-bottom: 1rem;
                        }

                        div.horarios {
                            margin-top: 1.5rem;

                            h4 {
                                font-size: 1.2rem;
                                margin-bottom: 0.8rem;
                            }

                            table {
                                width: 100%;
                                font-size: 0.95rem;

                                td {
                                    display: block;
                                    text-align: center;
                                    padding: 0.5rem 0;
                                    border: none;

                                    &:first-child {
                                        font-weight: bold;
                                        color: #333;
                                    }

                                    &:last-child {
                                        font-weight: normal;
                                        color: #666;
                                    }
                                }

                                tr {
                                    border-bottom: 1px solid #eee;
                                }

                                tr:last-child {
                                    border-bottom: none;
                                }
                            }
                        }
                        div.mapa iframe {
                            height: 280px;
                            border-radius: 12px;
                        }
                    }
                }
            }
        }
    }
 

}

