body{
    main{
        section.banner {
            height: 100vh;
            background:url(../assets/Banner\ en\ los\ medios.jpg) center/cover;
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: center;
            text-align: center;
            color: $color-blanco;

            div{
                h2{
                    font-size: 3rem;
                    font-weight: bold;
                    color: $color-amarillo;
                    margin-bottom: 1rem;
                }
                p{
                    font-size: 1rem;
                    font-weight: bold;
                }

                a.btn-primary{
                    margin-top: 20px;
                    text-decoration: none;
                    font-weight: bold;
                }

            }
        }

        section.notas-section{
            padding: 5rem 2rem;
            background-color: $color-blanco;
            text-align: center;
                

            h2{
                margin-bottom: 3rem;
                font-weight: bolder;
                display: inline-block;      
                border-bottom: 5px solid $color-amarillo;
                padding-bottom: 0.4rem;      

            }

            div.notas-grid{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                gap: 2rem;
                max-width: 1200px;
                margin: 0 auto;

                div.notas-item{
                    display: grid;
                    align-content: space-between;
                    background-color: white;
                    padding: 1rem;
                    border-radius: 10px;
                    box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
                    transition: transform 0.3s ease;

                    &:hover {
                    transform: scale(1.05);
                    }

                    img{
                        width: 100%;
                        border-radius: 5px;
                        
                    }
                    h3{
                        margin: 2rem 0 1rem 0;
                        font-size: larger;
                        font-weight:900;
                    }

                    p{
                        font-style: italic;
                        font-size: small;
                        font-weight: 500;
                    }

                    a{
                        span{
                            font-weight: bold;
                        }                       
                    }
                }


                
            }
        }
     
        section.entrevistas-section{
            padding: 5rem 2rem;
            background-color: $color-amarillo;
            text-align: center;

            h2{
                color: $color-blanco !important;
                margin-bottom: 3rem;
                font-weight: bolder;
                display: inline-block;      
                border-bottom: 5px solid $color-blanco;
                padding-bottom: 0.4rem;      

            }

            div.entrevistas-grid{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
                max-width: 1200px;
                margin: 0 auto;            

                div.entrevistas-item{
                    display: grid;
                    align-content: space-between;
                    background-color: $color-blanco;
                    padding: 1rem;
                    border-radius: 10px;
                    box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
                    transition: transform 0.3s ease;

                    &:hover {
                    transform: scale(1.05);
                    }

                    a{
                        img{
                            width: 100%;
                            border-radius: 5px;                      
                        }
                    }

                    h3{
                        margin: 2rem 0 1rem 0;
                        font-size: x-large;
                        font-weight:900;
                    }

                    p{
                        font-size: medium;
                        font-weight: 500;
                    }

                }
            }










        }
    }
}