body{
    main{
        section.banner {
            height: 100vh;
            background: url(../assets/Banner\ en\ los\ medios.jpg) center/cover;
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: center;
            text-align: center;
            color: $color-blanco;

            div{
                h2{
                    font-size: 3rem;
                    font-weight: bold;
                    color: $color-amarillo;
                    margin-bottom: 1rem;
                }
                p{
                    font-size: 1rem;
                    font-weight: bold;
                }

                a.btn-primary{
                    margin-top: 20px;
                    text-decoration: none;
                    font-weight: bold;
                }

            }

            section.notas-section{
                padding: 5rem 2rem;
                background-color: white;
                text-align: center;
                

                h2{
                    margin-bottom: 3rem;
                }

                div.notas-grid{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                    gap: 2rem;
                    max-width: 1200px;
                    margin: 0 auto;

                    div.notas-item{
                        background-color: white;
                        padding: 1rem;
                        border-radius: 10px;
                        box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
                    }
                }
            }

        }
    }
}