body{
    font-family: 'Roboto';
    line-height: 1.6;

    header{
        background-color: $color-negro;
        color: $color-blanco;
        padding: 1rem 0;
        position:fixed;
        width:100%;
        z-index: 1000;
        nav{
            max-width: 1200px;
            margin: 0;
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
            div{
                h1.logo{
                    
                    font-family: 'MonteCarlo' !important;
                    font-size: 2rem;
                    color: $color-blanco;
                    
                }

            }
            ul{
            
                display: flex;
                list-style: none;
                margin-top: 0;
                margin-bottom: 0;

            
                li{
                    a.nav-links{
                        color: $color-blanco !important;
                        text-decoration: none;
                        list-style: none;
                        padding: .5rem 1rem;

                        &:hover {
                        color: $color-amarillo !important;
                        }
                    }
                }
            }

        }
    }
}

