body{
    main{
        section.banner-eligen{
            height: 100vh;
            background:url(../assets/Banner\ por\ que\ me\ eligen.jpg) center/cover;
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: center;
            text-align: center;
            color: $color-blanco;

            div{
                h2{
                    font-size: 3rem;
                    font-weight: bold;
                    color: $color-amarillo;
                    margin-bottom: 1rem;
                }
                p{
                    font-size: 1rem;
                    font-weight: bold;
                }

                a.btn-primary{
                    margin-top: 20px;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
            

        }

        section.quiropraxia-section{
            padding: 5rem 2rem;
            background-color: $color-blanco;
            text-align: center;
            h2{
                margin-bottom: 3rem;
                font-weight: bolder;
                display: inline-block;      
                border-bottom: 5px solid $color-amarillo;
                padding-bottom: 0.4rem;  
            }

            p{

            }
        }
        
        section.valores-section{
            padding: 5rem 2rem;
            text-align: center;
            h2{
                margin-bottom: 3rem;
                font-weight: bolder;
                display: inline-block;      
                border-bottom: 5px solid $color-amarillo;
                padding-bottom: 0.4rem;                 
            }

            div.valores-grid{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                gap: 2rem;
                justify-items: center;

                div.valores-item{
                    div.valor{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        text-decoration: none;
                        color: $color-blanco;
                        font-weight: 600;
                        border-radius: 50px;
                        padding: 10px 20px;
                        box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
                        transition: all 0.3s ease;
                        background-color: $color-gris;
                        &:hover{
                            border-color: $color-amarillo;
                            transform: scale(1.03);
                        }  
                                
                        img.valor-card{
                            width: 40px;
                            height: 40px;
                        }
                 
                    }
                    
              
              
              
              
                }

            }




        }



    }
}